<a href="https://colab.research.google.com/github/daje0601/DS_project/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded =files.upload()

Saving submission.csv to submission.csv

In [4]:
!unzip -qq "/content/140472_store_credit_card_revenue_data.zip"

replace submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Y

In [7]:
import pandas as pd

df = pd.read_csv("/content/funda_train.csv")
submission = pd.read_csv("/content/funda_train.csv")

In [9]:
df.shape

(6556613, 9)

In [10]:
df.columns

Index(['store_id', 'card_id', 'card_company', 'transacted_date',
       'transacted_time', 'installment_term', 'region', 'type_of_business',
       'amount'],
      dtype='object')

In [13]:
print(df.isnull().sum().sum())
print(df.isnull().sum())

5995375
store_id                  0
card_id                   0
card_company              0
transacted_date           0
transacted_time           0
installment_term          0
region              2042766
type_of_business    3952609
amount                    0
dtype: int64

In [16]:
df.tail(20)

         store_id  card_id card_company  ...  region type_of_business        amount
6556593      2136  4663846            a  ...  제주 제주시           기타 주점업   7857.142857
6556594      2136  4663847            g  ...  제주 제주시           기타 주점업   7285.714286
6556595      2136  4663848            d  ...  제주 제주시           기타 주점업   4000.000000
6556596      2136  4663706            d  ...  제주 제주시           기타 주점업   5500.000000
6556597      2136  4663849            d  ...  제주 제주시           기타 주점업  10428.571429
6556598      2136  4661654            a  ...  제주 제주시           기타 주점업   8571.428571
6556599      2136  4663850            a  ...  제주 제주시           기타 주점업   7428.571429
6556600      2136  4663107            a  ...  제주 제주시           기타 주점업   3285.714286
6556601      2136  1980399            d  ...  제주 제주시           기타 주점업   8714.285714
6556602      2136  4663851            b  ...  제주 제주시           기타 주점업   3285.714286
6556603      2136  4663852            a  ...  제주 제주시           기타 주점업   4571.428571
6556604      2136  4663853            e  ...  제주 제주시           기타 주점업   3571.428571
6556605      2136  4663666            f  ...  제주 제주시           기타 주점업   7428.571429
6556606      2136  4663854            f  ...  제주 제주시           기타 주점업   3928.571429
6556607      2136  4663855            d  ...  제주 제주시           기타 주점업   4500.000000
6556608      2136  4663855            d  ...  제주 제주시           기타 주점업  -4500.000000
6556609      2136  4663855            d  ...  제주 제주시           기타 주점업   4142.857143
6556610      2136  4663489            a  ...  제주 제주시           기타 주점업   4500.000000
6556611      2136  4663856            d  ...  제주 제주시           기타 주점업    571.428571
6556612      2136  4658616            c  ...  제주 제주시           기타 주점업   5857.142857

[20 rows x 9 columns]